nav, footer {
  width: 100%;

  a {
    text-decoration: none;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul li {
    border: solid 1px #000;
    display: inline-block;
    padding: 5px;
  }
}
